[submodule "external/gv2-firmware"]
	path = external/gv2-firmware
	url = https://github.com/marcory-hub/Seeed_Grove_Vision_AI_Module_V2.git
	branch = yolo11-vespa
[submodule "external/t-sim-motor-shield"]
	path = external/t-sim-motor-shield
	url = https://github.com/aggerritsen/T-SIMMotorShield.git
	branch = master
[submodule "external/esp32-s3-gv2-uart-reciever"]
	path = external/esp32-s3-gv2-uart-reciever
	url = https://github.com/marcory-hub/vespa_smart_trap.git
	branch = main
